body{
    background-color: lightblue;
}
h1{
    color: white;
    text-align: center;
}
p{
    font-family: Verdana;
    font-size: 20px;
    background-image: -moz-linear-gradient(top, #F4Fa58, #FF0000);
    background-color: #F4FA58;

       /*  Para usar los prefijos de los navegadores se utiliza 
        background-image y el navegador que utilizaremos
        La etiqueta style se pone en el Head del archivo HTML
      */
    
}