<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Medidas </title>

    <style>
        div{
            height: 200px;
            width: 50%;
            background-color: red;
        }
        div.blue {
            width: 50%;
            background-color: blue;

        }
    </style>
</head>
<body>
    <h2>Declarar la altura y el ancho de un elemento</h2>

    <p>Este div tiene una altura de 200 pixeles  y un ancho de 50% de su contenedor </p>

    <div>
        <div class="blue"></div>
    </div>
    
</body>
</html>